/*
Color palette:
*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

:root {
    --main-color: #05668d;
    --blue-color: #000000;
    --darkerblue-color: #a5be00;
    --yellow-color: #679436;
    --orange-color: #ebf2fa;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}

.error {
    font-size: 11px !important;
    line-height: 12px !important;
}

.appt {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.padme {
    margin-left: 15px;
}

.label {
    text-align: left;
}

.roboto {
    font-family: 'Roboto';
}

.color {
    background-color: var(--main-color);
}

.mapLabel {
    background-color: 'rgba(255, 100, 100, 0.85)',
}

.calendarModal__content {
    background: none !important;
    border: none !important;
    width: min-content;
}

.div-border {
    border-radius: 25px;
    border: 1px solid var(--main-color);
    padding: 15px; 
    width: 100%;
    height: 100%;  
}

.inline {
    display:inline-block;
    margin-right:5px;
}

#wrap {
    text-align: center;
    width: 80%;
}

#left, #right {
     display: inline-block;
     padding: 2%;
}

.ruta{
    border: 1px solid #000;
    width: 200px;
    height: 16vh;
}

#rc-editable-input-1 {
    width: 80px !important;
}

#rc-editable-input-2 {
    width: 80px !important;
}

.list-group-item {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

svg:hover {
    fill: black;
  }

.ruta h1{
    text-align: center;
    margin-top: -10px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
}

.weekCalendar__overlay {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.calendarBody__column {
    min-width: 160px !important;}

    

.dur {
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
}

.duracion {
    text-align: left;
    margin-top: -10px;
    margin-bottom: 0px;
    font-size: 13px;
}
.ruta h1 span{
    background-color: white;
}

.notes-container {
    background-color:#666 !important; 
    color:#fff;
    min-height: 88vh;
    height: 100%;
}

#close {
    float:right;
    padding:2px 5px;
    margin-top: -17px;
    margin-right: -10px;
}

h2 { 
    font-weight: bold; 
    font-size: 1.7rem; 
} 

p { 
    font-size: 1rem; 
    font-weight: normal; 
} 

ul,li{ 
    list-style:none; 
} 

ul{ 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
} 

ul li a{ 
    text-decoration:none; 
    color:#000 !important; 
    background:#ffc; 
    display:block; 
    height:15em; 
    width:15em; 
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
} 
    
ul li{
     margin:1em; 
}

ul li:nth-child(even) a{ 
    transform:rotate(4deg); 
    position:relative; 
    top:5px; 
    background: #cfc;
} 

ul li:nth-child(3n) a{ 
    transform:rotate(-3deg); 
    position:relative; 
    top:-5px; 
    background: #ccf;
} 

ul li:nth-child(5n) a{ 
    transform:rotate(5deg); 
    position:relative; 
    top:-10px; 
}

ul li a:hover,ul li a:focus{
     box-shadow:10px 10px 7px rgba(0,0,0,.7); 
     transform: scale(1.25); 
     position:relative; 
     z-index:5; 
}

option:hover{background-color:yellow;}

.colored-text {
    color: black;
}

.delete-icon {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.evento {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #6b6b6b;
    border-style: groove;
}

.evento:hover {
    filter: brightness(0.5);
  }

.pad-icon {
    margin-right: 10px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

.logo-pad {
    padding-left: 10px;
    color: var(--darkerblue-color);
}

.accordion-pad {
    padding-left: 10px;
}

.child {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .circlecontainer {
    display: flex;
    justify-content: center;
  }

.breadcrumb {
    margin-top: -4px;
    margin-left: -15px;
    margin-right: -15px;
}

a {
    color: var(--darkerblue-color) !important;
    text-decoration: none;
    background-color: transparent;
}

.nav-link {
    color: var(--darkerblue-color) !important;
}

.App {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 40px;
    flex-wrap: wrap;
    max-width: 750px; 
  }
  
  .time {
    font-size: 32px;
  }


.hero-image-2 {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('./nyc.jpg');
    /* Set a specific height */
    height: 450px;
    margin-top: 17px;
    width: 100%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* The hero image */

.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./nyc.jpg');
    /* Set a specific height */
    height: 700px;
    margin-top: 17px;
    margin-left: 150px;
    margin-right: 150px;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-color);
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* The hero image */
.init-hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
   background-color: var(--orange-color);
    /* Set a specific height */
    height: 100%    ;

  }
  
  /* Place text in the middle of the image */
  .init-hero-text {
    text-align: center;
    color: black;
    margin-top: 50px;
    padding: 50px 0px 50px 0px;
  }

.init-icon {
    height: 10vh;
    width: auto;
}

.pcontainer {
    padding: 10px 30px 30px 30px;
    border-radius: 25px;
    border: 2px solid var(--main-color);
    height: 100%;
    width: 100%;

}

#first {
    float: left;
}
#second {
    float: left;
}
#clear {
    clear: both;
}

.trips-container {
    background-color: white;
    height: 100%;  
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 60px;
}

.left-pad {
    padding-left: 60px;
    padding-top: 30px;
    padding-right: 60px;
}

/* Place text in the middle of the image */

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.hero-container {
    background-color: var(--blue-color);
    margin: 0;
}

.placeform {
    background-color: rgba(255, 255, 255, 0.5);
    overflow: auto;
    height: 500px;
    display: block;
    text-align: center;
}

.placeformform {
    color: black;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 10px;
    width: 60%;
    margin-bottom: 30px;
}

.labelmargin {
    margin-top: 40px !important;
}

.submitbtn {
    width: 100px;
    margin-top: 70px !important;
}

.center {
    text-align: center;
}

#dest {
    margin-bottom: 20px;
}

#section1 {
    display: table;
}

.vertical {
    display: table-cell;
    vertical-align: middle;
}

.loading {
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    background: #fff;
}
.loader {
    left: 50%;
    margin-left: -4em;
    font-size: 10px;
    border: .8em solid rgba(218, 219, 223, 1);
    border-left: .8em solid rgba(58, 166, 165, 1);
    animation: spin 1.1s infinite linear;
}
.loader, .loader:after {
    border-radius: 50%;
    width: 8em;
    height: 8em;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -4.05em;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.timer {
    font-family: "roboto";
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .scrollme {
    overflow-x: auto;
}

@media (max-width: 1500px) {
    .hero-image {
        padding: 0;
        margin: 0;
    }
    body {
        padding: 0;
    }

    .placeformform {
        width: 85%;
    }

    .trips-container {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (max-width: 1200px) {
    .div-border {
        margin-top: 20px !important;
    }

    .map-right-div {
        margin-top: 20px !important;
    }

    .breadcrumb {
        margin-top: -10px !important;

}


@media (max-width: 991px) {
    .budget-card {
        margin-top: 20px !important;
    }

}

@media (max-width: 978px) {
 

    .hero-image {
        padding: 0;
        margin: 0;
        margin-top: 50px;
    }

    body {
        padding: 0;
    }
    .navbar-fixed-top,
    .navbar-fixed-bottom,
    .navbar-static-top {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    .title {
        font-size: 1.7rem !important;
        margin-top: 50px;
    }
    .subtitle {
        font-size: 1.3rem !important;
    }
    .placeform {
        height: 90vh;
    }

    .labelmargin {
        display: flex !important;
        justify-content: center !important;
    }
}
@media (max-width: 767px) {
    .progress {
        margin-top: 15px;
    }
    .budget-card {
        margin-top: 0px !important;
    }
    .hideOnShrink {
        display: none;
    }
}

@media (max-width: 600px) {
    .hero-image-2 {
        height: 750px;
    }
}
}